<doctype html>
    <title>Edit User - Python Flask MySQL CRUD</title>
    <h2>Edit User</h2>
    <form method="post" action="/update">
        <dl>
            <p>
                <input name="inputName" value="{{ row['nombre'] }}" type="text" placeholder="Nombre" autocomplete="off" required>
            </p>
            <p>
                <input name="inputEmail" value="{{ row['email'] }}" type="text" placeholder="Email" autocomplete="off" required>
            </p>

        </dl>
        <p>
            <input name="id" value="{{ row['id'] }}" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>